
           body{
                margin: 0;
                background-color: rgb(172, 211, 115);
            }
            
            
            #header{
                /*position: relative;*/
                height: 10vh;
                background-color: rgb(172, 211, 115);
            }
            
            
            #logo{
                height: 7vh;
                padding-left: 5vw;
                margin-top: 1.5vh;
            }
            
            #nav{
                position: absolute;
                top: 0;
                right: 0;
                height: 10vh;
                width: 10vh;
                background-color: rgb(137, 168, 92); 
           
            }
            
            #hamburger{
                height: 4vh;
                width: 4vh;
                margin: 3vh;
                cursor: pointer;
              
            }
            
            #main{
                height: 90vh;
                background-color: rgb(154, 189, 103);  
                background-image: url(SixteenMobileHomework/4siluetBG.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: bottom;
                
            }
              
            #sixteen{
                font-family: "Source Sans Pro";
                font-weight: bold;
                text-transform: uppercase;
                color: rgb(245, 245, 245);
                text-align: center;
                font-size: 5vmin;
                padding-top: 25vh; 
             
                
            }
            
            
            #indonesia{
                font-family: "Droid Serif";
                font-style: italic;
                font-size: 3.5min;
                color: #f5f5f5;
                text-align: center;
            } 
            
           
            
            #Arrow{
                height: 3vh;
                padding: 5vh;
                text-align: center;
            }
            
            #Arrow img{
                height: 3vh;
            }
      